<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.tap.samsungpay.internal.SamsungPayActivity"
            android:exported="false"
            android:persistent="true"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <meta-data
            android:name="debug_mode"
            android:value="Y" />
        <meta-data
            android:name="spay_debug_api_key"
            android:value="cc6e74a513d24020b2f25bcf37d3a4ed" />
        <meta-data
            android:name="spay_sdk_api_level"
            android:value="2.17" />

    </application>

    <queries>
        <package android:name="com.samsung.android.spay" />
        <package android:name="com.samsung.android.samsungpay.gear" />
    </queries>


</manifest>