<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.tap.samsungpay.internal.SamsungPayActivity"
            android:persistent="true"
            android:exported="false"  android:theme="@style/Theme.AppCompat.Translucent"/>
        <meta-data
            android:name="debug_mode"
            android:value="Y" />
        <meta-data
            android:name="spay_debug_api_key"
            android:value="cc6e74a513d24020b2f25bcf37d3a4ed" />
    </application>

    <queries>
        <package android:name="com.samsung.android.spay" />
    </queries>

    <!--     Release mode-->

    <meta-data
        android:name="debug_mode"
        android:value="N" /> <!--set to Y if debug mode-->

    <!-- uncomment if debug mode-->
    <!--        <meta-data-->
    <!--            android:name="debug_mode"-->
    <!--            android:value="Y" />-->
    <!--        <meta-data-->
    <!--            android:name="spay_debug_api_key"-->
    <!--            android:value="asdfggkndkeie17283094858" />-->


</manifest>